/* @import url("https://fonts.cdnfonts.com/css/pp-neue-montreal"); */

@font-face {
  font-family: "PP Neue Montreal";
  src: url("./pp-neue-montreal-cufonfonts/ppneuemontreal-medium.otf")
      format("opentype"),
    url("./pp-neue-montreal-cufonfonts/ppneuemontreal-bold.otf")
      format("opentype"),
    url("./pp-neue-montreal-cufonfonts/ppneuemontreal-light.otf")
      format("opentype"),
    url("./pp-neue-montreal-cufonfonts/ppneuemontreal-regular.otf")
      format("opentype");
}

@font-face {
  font-family: "Gilroy";
  src: url("./gilroy/Gilroy-Medium.ttf") format("truetype"),
    url("./gilroy/Gilroy-Bold.ttf") format("truetype"),
    url("./gilroy/Gilroy-Light.ttf") format("truetype"),
    url("./gilroy/Gilroy-Regular.ttf") format("truetype");
}

@font-face {
  font-family: "PP Editorial Old";
  src: url("./pp-editorial-old/ppeditorialold-regular.otf") format("opentype");
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: "PP Neue Montreal";
  font-family: "Gilroy";
}

main {
  width: 100vw;
  height: 100svh;
  overflow-x: hidden;
}

img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

h1 {
  text-align: center;
  color: #fff;
  font-size: 5rem;
  font-weight: 500;
  line-height: 1;
}

h1 span {
  font-family: "PP Editorial Old";
  font-weight: 400;
  font-style: italic;
  font-size: 4.5rem;
  -webkit-font-smoothing: antialiased;
  /* background-color: red; */
  padding: 0 0.9rem 0 0;
}

a,
p {
  text-decoration: none;
  text-transform: uppercase;
  color: #fff;
  font-size: 12px;
  font-weight: 500;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
}

.container {
  position: relative;
  width: 100vw;
  height: 100svh;
  overflow: hidden;
}

.hero-img {
  position: absolute;
  top: 0;
  width: 100vw;
  height: 100svh;
  z-index: -1;
}

.nav {
  position: absolute;
  top: 0;
  width: 100vw;
  padding: 1.25em 1rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  will-change: transform;
  /* background-color: red; */
}

nav > div {
  flex: 1;
}

.logo a {
  text-transform: capitalize;
  font-size: 1.2rem;
  font-weight: 500;
  /* background-color: blue; */
}

.nav-link {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1.5em;
  cursor: pointer;
  /* background-color: green; */
}

.btn {
  display: flex;
  justify-content: flex-end;
}

.btn a {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 16px;
  width: 60px;
  height: 40px;
  color: #000;
  background-color: #fff;
  border-radius: 40px;
  cursor: pointer;
}

.header {
  width: 100%;
  height: 100%;
  padding-top: 25svh;
  /* background-color: red; */
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1.5em;
}

.cta {
  position: absolute;
  left: 50%;
  bottom: 3.5em;
  transform: translateX(-50%);
  width: 50%;
  height: 60px;
  padding: 0.3rem;
  display: flex;
  justify-content: flex-end;
  background-color: #fff;
  border-radius: 4rem;
  will-change: transform;
}

.cta-label {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  /* background-color: red; */
}

.cta-label p {
  color: #000;
}

.cta-icon {
  /* position: absolute; */
  top: 0;
  height: 100%;
  aspect-ratio: 1;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #fff;
  background-color: #303030;
  border-radius: 60px;
  will-change: transform;
  /* background-color: red; */
  cursor: pointer;
}

.loading {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100svh;
  overflow: hidden;
  z-index: 2;
  pointer-events: none;
}

.overlay {
  position: absolute;
  top: 0;
  width: 100%;
  height: 100%;
  display: flex;
  pointer-events: none;
}

.block {
  width: 100%;
  height: 100%;
  background-color: #303030;
  pointer-events: none;
}

.intro-logo {
  position: absolute;
  top: 50%;
  left: 51%;
  transform: translate(-50%, -50%);
  display: flex;
  gap: 0.25em;
}

#word1 {
  position: relative;
  left: -0.5rem;
  padding-right: 0.25rem;
}
.word h1 {
  font-size: 2rem;
  letter-spacing: -1px;
  /* padding-left: 0.2rem; */
  /* background-color: red; */
}

#word-1 h1 span {
  font-size: 2.8rem;
  /* background-color: pink; */
}

.divider {
  position: absolute;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  transform-origin: center top;
  width: 1px;
  height: 100%;
  background-color: #fff;
}

.spinner-container {
  position: absolute;
  bottom: 10%;
  left: 50%;
  transform: translateX(-50%);
}

.spinner {
  width: 50px;
  height: 50px;
  border: 1.4px solid #fff;
  border-radius: 50%;
  border-top-color: rgba(255, 255, 255, 0.125);
  animation: spin 1s linear infinite;
}

@keyframes spin {
  to {
    transform: rotate(360deg);
  }
}

.counter {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 2;
}

.count {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex;
}

.digit {
  flex: 1;
  padding-top: 1rem;
}

.count .digit h1 {
  font-family: "PP Editorial Old";
  font-style: regular;
  font-size: 15rem;
  color: #fff;
  font-weight: 400;
}

.nav {
  transform: translateY(-120%);
}

.cta {
  transform: translateX(-50%) scale(0);
}

.cta-icon {
  transform: scale(0);
}

.line,
.cta-label,
.word,
.count,
.digit {
  clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
}

.line h1 {
  padding-left: 0.7rem;
}

.line h1,
.line p,
.cta-label p,
.count .digit h1 {
  position: relative;
  transform: translateY(120%);
  will-change: transform;
}

#word-1 h1 {
  transform: translateY(-120%);
}
#word-2 h1 {
  transform: translateY(120%);
}

.block {
  clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
}

.divider {
  transform: scaleY(0);
}

.hero-img {
  transform: scale(1.5);
  will-change: transform;
}

@media (max-width: 900px) {
  h1 {
    font-size: 2.5rem;
  }
  h1 span {
    font-size: 2.2rem;
  }
  .word h1 {
    font-size: 1.8rem;
  }
  #word-1 h1 span {
  font-size: 2.9rem;
  /* background-color: pink; */
}
  .nav-link {
    display: none;
  }
  .cta {
    width: 90%;
  }
}

.container2 {
  width: 100%;
  height: 100svh;
  display: flex;
  justify-content: center;
  align-items: center;
}
